@charset "UTF-8";
.assistant {
  width: 100%;
  padding: 38px 40px;
}
@media (max-width: 1200px) {
  .assistant {
    padding: 38px 30px;
  }
}
@media (max-width: 768px) {
  .assistant {
    padding: 18px 10px;
    padding-top: 65px;
  }
}
.assistant .section-title {
  text-align: left;
  margin-bottom: 28px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.assistant .section-title img {
  margin-top: 7px;
}
.assistant form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 976px;
  margin-bottom: 35px;
}
.assistant form.second {
  margin-bottom: 20px;
}
.assistant form .search__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.assistant form .search__row.last {
  gap: 10px;
}
.assistant form .search__row .css-13cymwt-control,
.assistant form .search__row .css-t3ipsp-control {
  width: 470px;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #b3b3b3;
  background: #fff;
  overflow: hidden;
  color: #7b8a99;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.32px;
}
@media (max-width: 500px) {
  .assistant form .search__row .css-13cymwt-control,
  .assistant form .search__row .css-t3ipsp-control {
    width: 100%;
  }
}
.assistant form .search__row .css-hlgwow {
  height: 100%;
}
.assistant form .search__row .css-1u9des2-indicatorSeparator {
  display: none;
}
.assistant form .search__row .css-1xc3v61-indicatorContainer {
  display: none;
}
.assistant form .search__row .css-1nmdiq5-menu {
  position: absolute;
  z-index: 2;
}
.assistant form .search__row .css-15lsz6c-indicatorContainer svg {
  display: none;
}
.assistant form .search__row input {
  width: 470px;
  height: 56px;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #b3b3b3;
  background: #fff;
  overflow: hidden;
  color: #7b8a99;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.32px;
  color: #000;
}
@media (max-width: 500px) {
  .assistant form .search__row input {
    width: 100%;
  }
}
.assistant form .search__row input.bitrix {
  width: 297px;
  height: 56px;
  padding: 8px 16px;
}
.assistant form .search__row input.lida {
  width: 139px;
}
.assistant form .search__row input.search {
  height: 46px;
  max-width: 420px;
  width: 100%;
}
.assistant form .search__row input::-moz-placeholder {
  color: #7b8a99;
  font-size: 16px;
}
.assistant form .search__row input::placeholder {
  color: #7b8a99;
  font-size: 16px;
}
.assistant form .search__row input.minut {
  display: flex;
  width: 80px;
  height: 56px;
  padding: 8px 4px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}
.assistant form .search__row input.minut::before {
  position: absolute;
  content: "чч:мм";
  top: -4px;
}
.assistant form .search__row input.hour {
  display: flex;
  width: 80px;
  height: 56px;
  padding: 8px 4px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}
.assistant form .search__row input.hour::before {
  position: absolute;
  content: "чч:мм";
  top: -4px;
}
.assistant form .search__row input.po-date {
  max-width: 250px;
  width: 100%;
}
.assistant form .search__row input.name {
  padding-right: 30px;
  position: relative;
}
.assistant form .search__row input.name::before {
  width: 24px;
  height: 24px;
  border: 1px solid;
  content: "";
  background: url("/public/searchIcon.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  top: 0;
}
.assistant form .search__row .information {
  position: relative;
  width: 29px;
  height: 29px;
  border: 1px solid #7b8a99;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.assistant form .search__row .information .information__head {
  color: #7b8a99;
}
.assistant form .search__row .information .information__body {
  display: none;
  position: absolute;
  z-index: 2;
  width: 340px;
  height: 120px;
  padding: 16px 10px;
  border-radius: 0px 10px 10px 10px;
  background: #7b8a99;
  top: 26px;
  left: 15px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}
.assistant form .search__row .information:hover .information__body {
  display: block;
}
.assistant form .search__row .ant-form-item {
  position: relative;
}
.assistant form .search__row .ant-form-item.ab input {
  width: 268px;
  height: 46px;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid #b3b3b3;
  background: #fff;
  padding-left: 45px;
}
.assistant form .search__row .ant-form-item.ab input.po-request {
  width: 250px;
}
.assistant form .search__row .ant-form-item label {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 1;
}
.assistant form .search__row .ant-form-item label.ab {
  width: 50px;
  right: auto;
  left: 16px;
}
.assistant form .search__row button {
  display: flex;
  width: 202px;
  height: 56px;
  padding: 13px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #007bff;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}
.assistant form label {
  color: #212833;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.32px;
  display: block;
  margin-bottom: 5px;
}
.assistant form .timing {
  display: flex;
  align-items: center;
}
.assistant form .timing input {
  width: 50px;
  text-align: center;
}
.assistant form .timing span {
  margin: 0 5px;
  font-size: 18px;
}
.assistant hr {
  opacity: 0.2;
  margin-bottom: 35px;
}
.assistant .table-container {
  width: 100%;
}
.assistant .table-container .search-filter {
  width: 100%;
  border: 1px solid;
}
.assistant .table-container .table__parent {
  width: 100%;
  overflow: auto;
}
.assistant .table-container .table {
  width: 100%;
  min-width: 1263px;
  border-collapse: separate; /* Ensures the border-spacing works */
  border-spacing: 0 15px; /* Adds vertical spacing between rows */
}
.assistant .table-container .table thead tr {
  text-align: left;
}
.assistant .table-container .table thead tr th {
  color: #121212;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 35.971px; /* 179.856% */
}
.assistant .table-container .table thead tr th:first-child {
  padding-left: 10px;
}
.assistant .table-container .table thead tr th:last-child {
  padding-right: 10px;
}
.assistant .table-container .table tbody tr {
  background: #f8f8f8;
  border-radius: 10px; /* Keep the rounded corners */
}
.assistant .table-container .table tbody tr td {
  color: #7b8a99;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 35.971px; /* 224.819% */
  padding-top: 5px;
  padding-bottom: 5px;
}
.assistant .table-container .table tbody tr td:first-child {
  border-radius: 10px 0 0 10px;
  padding-left: 10px;
}
.assistant .table-container .table tbody tr td:last-child {
  border-radius: 0 10px 10px 0;
  padding-right: 10px;
}
.assistant .table-container .table tbody tr td .btns {
  display: flex;
  gap: 20px;
}
.assistant .table-container .table tbody tr td .btns .btn {
  display: flex;
  height: 30px;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #007bff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  border-radius: 10px;
  border: 1px solid #007bff;
  background-color: white;
}
.assistant .ant-form-item.ab {
  position: relative;
}
.assistant .ant-form-item.ab .po-date_x {
  position: absolute;
  background: none;
  width: 30px;
  height: 30px;
  right: 35px;
  top: 8px;
  color: #000;
  padding: 0 15px;
  z-index: 2;
}
.assistant .ant-table-container {
  width: 100%;
  overflow: auto;
}
.assistant .ant-table-container .ant-table-content {
  min-width: 1185px;
}
.assistant .ant-table-container .ant-table-content .ant-table-cell {
  color: #7b8a99;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.32px;
}
.assistant .ant-table-container .ant-table-content .ant-table-cell .btn {
  display: flex;
  width: 170px;
  height: 30px;
  padding: 13px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #007bff;
  background: none;
  color: #007bff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.assistant .ant-table-container .ant-table-content .ant-table-cell a {
  width: 100px !important;
}
.assistant .ant-table-container .ant-table-content .ant-table-thead .ant-table-cell {
  color: #121212;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 35.971px; /* 179.856% */
}
.assistant .tableupdateData {
  display: flex;
  align-items: center;
  gap: 5px;
}
.assistant .tableupdateData .updownbtn {
  width: 20px;
  padding: 0;
  background: none;
}
.assistant .tableupdateData .updownbtn img {
  width: 100%;
}/*# sourceMappingURL=assistant.css.map */