.dashbord__content {
  width: 100%;
  padding: 38px 40px;
  display: flex;
  gap: 30px;
  height: 100vh;
  overflow: auto;
}
@media (max-width: 1000px) {
  .dashbord__content {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .dashbord__content {
    overflow: visible;
    height: auto;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .dashbord__content {
    padding: 35px 10px;
  }
}
.dashbord__content--left {
  max-width: 740px;
  width: 100%;
}
.dashbord__content--left .section-title {
  text-align: left;
  margin-bottom: 63px;
}
@media (max-width: 768px) {
  .dashbord__content--left .section-title {
    margin-top: 35px;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .dashbord__content--left .section-title {
    margin-top: 23px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.dashbord__content--left__description {
  margin-bottom: 50px;
}
@media (max-width: 576px) {
  .dashbord__content--left__description {
    margin-bottom: 20px;
  }
}
.dashbord__content--left__description b {
  display: inline-block;
  color: #121212;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.6px; /* 21.6px */
  margin-bottom: 21px;
}
@media (max-width: 576px) {
  .dashbord__content--left__description b {
    margin-bottom: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px; /* 19.2px */
  }
}
.dashbord__content--left__description .date {
  color: #7b8a99;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px; /* 19.2px */
}
@media (max-width: 576px) {
  .dashbord__content--left__description .date {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
  }
}
.dashbord__content--left .upload-section {
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  max-width: 740px;
  width: 100%;
  max-height: 590px;
  flex-shrink: 0;
  padding: 25px;
}
@media (max-width: 576px) {
  .dashbord__content--left .upload-section {
    padding: 10px;
    border-radius: 16.216px;
    border: 0.405px solid rgba(0, 0, 0, 0.1);
  }
}
.dashbord__content--left .upload-section .file__upload {
  border-radius: 20px;
  border: 1px solid rgba(18, 18, 18, 0.1);
  padding: 56px 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
@media (max-width: 576px) {
  .dashbord__content--left .upload-section .file__upload {
    border-radius: 8.108px;
    border: 0.405px solid rgba(18, 18, 18, 0.1);
    padding: 47px 10px;
  }
}
.dashbord__content--left .upload-section .file__upload img {
  display: block;
  margin-bottom: 20px;
  height: 110px;
  width: 110px;
}
@media (max-width: 576px) {
  .dashbord__content--left .upload-section .file__upload img {
    margin-bottom: 10px;
    width: 44px;
    height: 44px;
  }
}
.dashbord__content--left .upload-section .file__upload .btn-primary {
  display: block;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .dashbord__content--left .upload-section .file__upload .btn-primary {
    display: none;
  }
}
.dashbord__content--left .upload-section .file__upload .drag__and__drop {
  color: #121212;
  font-family: "Montserrat";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 26.4px */
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .dashbord__content--left .upload-section .file__upload .drag__and__drop {
    color: #121212;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 16.8px */
  }
}
.dashbord__content--left .upload-section .file__upload .spekers {
  display: flex;
  gap: 10px;
  color: #007bff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
  margin-bottom: 56px;
}
@media (max-width: 576px) {
  .dashbord__content--left .upload-section .file__upload .spekers {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 14.4px */
    margin-bottom: 0px;
  }
}
.dashbord__content--left .upload-section .file__upload .file__type {
  color: #7a7a7a;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}
@media (max-width: 576px) {
  .dashbord__content--left .upload-section .file__upload .file__type {
    display: none;
  }
}
.dashbord__content--left .mobile-content {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
@media (max-width: 576px) {
  .dashbord__content--left .mobile-content {
    display: flex;
  }
}
.dashbord__content--left .mobile-content .file__type {
  color: #7a7a7a;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}
.dashbord__content--left .mobile-content .btn-outline {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.64px;
  border-radius: 5px;
}
.dashbord__content--right {
  margin-top: 100px;
}
@media (max-width: 1000px) {
  .dashbord__content--right {
    margin-top: 30px;
  }
}
.dashbord__content--right .meeting-form {
  width: 100%;
  max-width: 800px;
}
.dashbord__content--right .meeting-form .conference-section h3 {
  color: #121212;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.6px; /* 21.6px */
  margin-bottom: 21px;
}
@media (max-width: 576px) {
  .dashbord__content--right .meeting-form .conference-section h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    gap: 12px;
    align-items: center;
  }
}
.dashbord__content--right .meeting-form .conference-section h3 .links {
  display: none;
}
@media (max-width: 576px) {
  .dashbord__content--right .meeting-form .conference-section h3 .links {
    display: flex;
    gap: 17px;
  }
  .dashbord__content--right .meeting-form .conference-section h3 .links a img {
    width: 40px;
    height: 40px;
  }
}
.dashbord__content--right .meeting-form .conference-section .descr {
  color: #7b8a99;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  margin-bottom: 30px;
  max-width: 650px;
}
.dashbord__content--right .meeting-form .conference-section .form {
  max-width: 470px;
  width: 100%;
}
.dashbord__content--right .meeting-form .conference-section .form label {
  display: block;
  color: #121212;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px; /* 19.2px */
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .dashbord__content--right .meeting-form .conference-section .form label {
    display: none;
  }
}
.dashbord__content--right .meeting-form .conference-section .form input,
.dashbord__content--right .meeting-form .conference-section .form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
}
.dashbord__content--right .meeting-form .conference-section .form input option,
.dashbord__content--right .meeting-form .conference-section .form select option {
  padding: 10px 12px;
  color: #000;
}
@media (max-width: 576px) {
  .dashbord__content--right .meeting-form .conference-section .form input,
  .dashbord__content--right .meeting-form .conference-section .form select {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
.dashbord__content--right .meeting-form .conference-section .form input:focus,
.dashbord__content--right .meeting-form .conference-section .form select:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5215686275);
}
.dashbord__content--right .meeting-form .conference-section .form input {
  border-radius: 10px;
  border: 1px solid #d9d9d9;
}
.dashbord__content--right .meeting-form .conference-section .form input::-moz-placeholder {
  color: #d9d9d9;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}
.dashbord__content--right .meeting-form .conference-section .form input::placeholder {
  color: #d9d9d9;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}
.dashbord__content--right .meeting-form .conference-section .form .row {
  display: flex;
}
.dashbord__content--right .meeting-form .conference-section .form .row.row1 {
  gap: 16px;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .dashbord__content--right .meeting-form .conference-section .form .row.row1 {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
  }
}
.dashbord__content--right .meeting-form .conference-section .form .row.row1 a {
  color: #4085fe;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
.dashbord__content--right .meeting-form .conference-section .form .row.row1 span {
  color: #1c1c1c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
.dashbord__content--right .meeting-form .conference-section .form .row.row2 {
  gap: 30px;
  align-items: center;
}
.dashbord__content--right .meeting-form .conference-section .form .row.row2 .btn-primary {
  padding: 13px 20px;
}
@media (max-width: 576px) {
  .dashbord__content--right .meeting-form .conference-section .form .row.row2 .btn-primary {
    width: 100%;
    padding: 13px 24px;
    border-radius: 5px;
  }
}
.dashbord__content--right .meeting-form .conference-section .form .row.row2 .links {
  display: flex;
  gap: 17px;
}
@media (max-width: 576px) {
  .dashbord__content--right .meeting-form .conference-section .form .row.row2 .links {
    display: none;
  }
}
.dashbord__content--right .meeting-form .conference-section .form .row.row2 .links a img {
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=meetingForm.css.map */