.assistant {
  width: 100%;
  padding: 38px 40px;

  @media (max-width: 1200px) {
    padding: 38px 30px;
  }
  @media (max-width: 768px) {
    padding: 18px 10px;
    padding-top: 65px;
  }

  .section-title {
    text-align: left;
    margin-bottom: 28px;

    display: flex;

    gap: 10px;
    align-items: center;

    img {
      margin-top: 7px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 960px;

    margin-bottom: 35px;

    &.second {
      margin-bottom: 20px;
    }

    .search__row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;

      &.last {
        gap: 10px;
      }

      input[type="text"],
      input[type="number"] {
        width: 470px;
        height: 56px;
        padding: 8px 16px;

        border-radius: 10px;
        border: 1px solid #b3b3b3;
        background: #fff;

        overflow: hidden;
        color: #7b8a99;
        font-size: 16px !important;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        letter-spacing: 0.32px;

        @media (max-width: 500px) {
          width: 100%;
        }

        &.bitrix {
          width: 297px;
          height: 56px;
          padding: 8px 16px;
        }

        &.lida {
          width: 139px;
        }

        &.search {
          height: 46px;
          max-width: 420px;
          width: 100%;
        }

        &::placeholder {
          color: #7b8a99;
          font-size: 16px;
        }
        color: #000;

        &.minut {
          display: flex;
          width: 80px;
          height: 56px;
          padding: 8px 16px;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 10px;
        }

        &.hour {
          display: flex;
          width: 80px;
          height: 56px;
          padding: 8px 16px;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 10px;
          position: relative;
        }

        &.po-date {
          max-width: 127px;
          width: 100%;
        }

        &::before {
          position: absolute;
          z-index: 1;
          content: ":";
          right: -10px;
          top: 0;
          width: 20px;
          height: 20px;
          background-color: #007bff;
        }

        &.name {
          padding-right: 30px;
          position: relative;

          &::before {
            width: 24px;
            height: 24px;
            border: 1px solid;
            content: "";
            background: url("/public/searchIcon.svg");
            background-position: center;
            background-repeat: no-repeat;

            position: absolute;

            right: 10px;
            top: 0;
          }
        }
      }

      .information {
        position: relative;
        width: 29px;
        height: 29px;
        border: 1px solid #7b8a99;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .information__head {
          color: #7b8a99;
        }

        .information__body {
          display: none;
          position: absolute;
          z-index: 2;

          width: 340px;
          height: 120px;
          padding: 16px 10px;
          border-radius: 0px 10px 10px 10px;
          background: #7b8a99;

          top: 26px;
          left: 15px;

          color: #fff;

          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.32px;
        }

        &:hover {
          .information__body {
            display: block;
          }
        }
      }

      .ant-form-item {
        position: relative;

        &.ab {
          input {
            width: 168px;
            height: 46px;
            padding: 8px 16px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;

            border-radius: 60px;
            border: 1px solid #b3b3b3;
            background: #fff;
            padding-left: 45px;

            &.po-request {
              width: 194px;
              // width: 100%;
            }
          }
        }

        label {
          position: absolute;
          top: 55%;
          transform: translateY(-50%);
          right: 20px;

          &.ab {
            right: auto;
            left: 16px;
          }
        }
      }

      button {
        display: flex;
        width: 202px;
        height: 56px;
        padding: 13px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: #007bff;

        color: #fff;

        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.72px;
      }
    }

    label {
      color: #212833;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      letter-spacing: 0.32px;

      display: block;
      margin-bottom: 5px;
    }

    // Timing inputlar uchun uslub
    .timing {
      display: flex;
      align-items: center;

      input {
        width: 50px;
        text-align: center;
      }

      span {
        margin: 0 5px;
        font-size: 18px;
      }
    }
  }

  hr {
    opacity: 0.2;

    margin-bottom: 35px;
  }

  .table-container {
    width: 100%;

    .search-filter {
      width: 100%;
      border: 1px solid;
    }

    .table__parent {
      width: 100%;
      overflow: auto;
    }

    .table {
      width: 100%;
      min-width: 1263px;
      // margin-top: 28px;
      border-collapse: separate; /* Ensures the border-spacing works */
      border-spacing: 0 15px; /* Adds vertical spacing between rows */

      thead {
        tr {
          text-align: left;

          th {
            color: #121212;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 35.971px; /* 179.856% */

            &:first-child {
              padding-left: 10px;
            }

            &:last-child {
              padding-right: 10px;
            }
          }
        }
      }

      tbody {
        tr {
          background: #f8f8f8;
          border-radius: 10px; /* Keep the rounded corners */

          td {
            color: #7b8a99;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 35.971px; /* 224.819% */
            padding-top: 5px;
            padding-bottom: 5px;

            &:first-child {
              border-radius: 10px 0 0 10px;
              padding-left: 10px;
            }

            &:last-child {
              border-radius: 0 10px 10px 0;
              padding-right: 10px;
            }

            .btns {
              display: flex;
              gap: 20px;

              .btn {
                display: flex;
                height: 30px;
                padding: 13px 20px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                color: #007bff;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 16.8px */

                border-radius: 10px;
                border: 1px solid #007bff;
                background-color: white;
              }
            }
          }
        }
      }
    }
  }
}
