.tarif {
  width: 100%;
  padding: 80px 0;

  padding-top: 110px;

  margin-top: -70px;

  @media (max-width: 1200px) {
    padding: 80px 0;

    padding-top: 100px;
    margin-top: -20px;
  }
  @media (max-width: 576px) {
    padding: 20px 0;
  }

  background: #fff;
  .container {
    flex-direction: column;

    .section-descr {
      max-width: 760px;

      margin-top: 20px;

      @media (max-width: 576px) {
        font-size: 14px;
      }
    }

    .section-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 31px;
      margin-bottom: 65px;

      @media (max-width: 576px) {
        margin-bottom: 30px;
      }

      .monthly {
        color: #7b8a99;

        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 21.6px */
        letter-spacing: 0.72px;
        margin-right: 38px;

        @media (max-width: 576px) {
          font-size: 14px;

          margin-right: 27px;
        }
      }

      input {
        position: relative;
        display: none;

        &:checked + .monthly__label span {
          left: calc(100% - 33px);
          // left: 3px;

          @media (max-width: 576px) {
            left: calc(100% - 25px);
          }
        }
      }

      label {
        width: 69px;
        height: 36px;
        background-color: #007bff;
        border-radius: 25px;
        position: relative;
        padding: 3px;
        cursor: pointer;

        span {
          position: absolute;
          left: 3px;
          width: 30px;
          height: 30px;
          background: #fff;
          border-radius: 50%;
        }

        @media (max-width: 576px) {
          width: 52px;
          height: 27px;

          span {
            width: 21px;
            height: 21px;
          }
        }
      }
      .annual {
        color: #212833;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 21.6px; /* 21.6px */
        letter-spacing: 0.72px;
        margin: 0 21px;

        @media (max-width: 576px) {
          font-size: 14px;
          margin: 0 15px;
        }
      }

      span {
        // width: 68px;
        padding: 8px 12px;
        border-radius: 40px;
        background: #0d9655;

        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 550;
        line-height: 120%; /* 21.6px */
        letter-spacing: 0.72px;

        @media (max-width: 576px) {
          font-size: 14px;
        }
      }
    }

    .tarif__items {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 20px;

      margin-bottom: 50px;

      @media (max-width: 1200px) {
        margin-bottom: 70px;
      }
      @media (max-width: 576px) {
        margin-bottom: 30px;
      }

      .tarif__item {
        // max-width: 420px;
        // width: 100%;
        // padding: 25px;

        max-width: 313px;
        width: 100%;
        padding: 50px 30px;

        border-radius: 20px;
        border: 1px solid rgba(33, 40, 51, 0.2);

        @media (max-width: 576px) {
          padding: 10px;
        }

        .position__type {
          display: flex;
          align-items: center;

          gap: 10px;

          margin-bottom: 10px;

          span {
            display: block;
            width: 13px;
            height: 13px;
            background-color: #007bff;
            border-radius: 50%;
          }

          h4 {
            color: #212833;
            font-size: 18px;
            font-weight: 700;
            line-height: 120%; /* 21.6px */
            letter-spacing: 0.72px;
          }
        }

        &--top__year {
          color: #212833;

          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 16.8px */
          letter-spacing: 0.56px;

          margin-bottom: 5px;
        }

        &--top__text {
          color: #9aaebd;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 16.8px */
          letter-spacing: 0.56px;
          margin-bottom: 10px;

          @media (max-width: 576px) {
            font-size: 14px;
          }
        }

        &--name {
          color: #212833;

          font-size: 22px;

          font-weight: 550;
          line-height: 26.4px; /* 26.4px */
          letter-spacing: 0.88px;
          margin-bottom: 20px;

          h3 {
            color: #007bff;

            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 48px */
            letter-spacing: 1.6px;
          }

          span {
            color: #9aaebd;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 24px */
            letter-spacing: 0.8px;
          }

          @media (max-width: 576px) {
            font-size: 18px;
            font-weight: 500;
          }
        }

        &--time {
          color: #212833;

          font-size: 18px;

          font-weight: 400;
          line-height: 21.6px; /* 21.6px */
          letter-spacing: 0.72px;
          margin-bottom: 20px;

          &__month {
            color: #7b8a99;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 21.6px */
            letter-spacing: 0.72px;
            margin-bottom: 20px;
          }

          @media (max-width: 576px) {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
          }
        }

        &--subscriptions__title {
          color: #212833;

          font-size: 18px;
          font-weight: 400;
          line-height: 120%; /* 21.6px */
          letter-spacing: 0.72px;
          margin-bottom: 10px;

          @media (max-width: 576px) {
            font-size: 14px;
          }
        }

        &--subscriptions {
          display: flex;
          flex-direction: column;
          gap: 10px 0;

          @media (max-width: 576px) {
            gap: 7px 0;
          }
        }

        &--subscription {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          @media (max-width: 576px) {
            font-size: 14px;
          }

          span {
            color: #9aaebd;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 16.8px */
            letter-spacing: 0.56px;
          }
        }

        &--btn {
          width: 100%;
          margin-top: 20px;

          text-align: center;
          font-size: 18px;
          font-weight: 550;
          line-height: 21.6px; /* 21.6px */
          letter-spacing: 0.72px;

          @media (max-width: 576px) {
            display: block;
            width: 100%;
            font-size: 16px;
          }
        }
      }
    }

    .tarif__bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 20px;

      @media (max-width: 920px) {
        flex-direction: column;
      }

      .tarif__bottom__col {
        width: calc(50% - 10px);

        @media (max-width: 920px) {
          width: 100%;
        }

        &.tarif__bottom__col-1 {
          display: flex;

          padding: 25px;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          border-radius: 20px;
          border: 1px solid rgba(33, 40, 51, 0.2);
          background: #007bff;
          color: #fff;

          small {
            color: #fff;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 21.6px */
            letter-spacing: 0.72px;
            margin-bottom: 20px;
          }

          h4 {
            color: #fff;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 26.4px */
            letter-spacing: 0.88px;

            margin-bottom: 20px;
          }

          ul {
            margin-bottom: 20px;
            li {
              display: flex;
              align-items: center;
              margin-bottom: 20px;

              gap: 10px;
              span {
                color: #fff;

                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 21.6px */
                letter-spacing: 0.72px;
              }
            }
          }

          .btn {
            border-radius: 10px;
            border: 1px solid #fff;
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.72px;
          }
        }

        &.tarif__bottom__col-2 {
          small {
            color: #007bff;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 21.6px */
            letter-spacing: 0.72px;
            display: block;
            margin-bottom: 20px;
          }

          h4 {
            color: #212833;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 26.4px */
            letter-spacing: 0.88px;
            margin-bottom: 20px;
          }

          .btns {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            .btn {
              border-radius: 10px;
              border: 1px solid rgba(0, 0, 0, 0.2);

              display: inline-flex;
              min-height: 40px;
              padding: 0px 24px;
              justify-content: center;
              align-items: center;

              color: #1a1a1a;
              text-align: center;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 0.72px;

              @media (max-width: 576px) {
                padding: 10px 24px;
              }
              &:hover {
                color: #fff;
                border-color: #007bff;
              }
            }
          }
        }
      }
    }

    // .tarif__section--cards {
    //   width: 100%;
    //   display: flex;
    //   flex-direction: column;

    //   gap: 80px 0;

    //   @media (max-width: 576px) {
    //     gap: 30px 0;
    //   }

    //   .tarif__section--card {
    //     width: 100%;
    //     min-height: 500px;
    //     overflow: hidden;
    //     display: flex;

    //     border-radius: 10px;
    //     border: 1px solid rgba(0, 0, 0, 0.2);

    //     display: flex;
    //     // align-items: center;

    //     @media (max-width: 800px) {
    //       min-height: 500px;
    //       flex-direction: column-reverse;
    //       justify-content: flex-end;
    //     }
    //     @media (max-width: 800px) {
    //       min-height: 350px;
    //       height: auto;
    //     }

    //     &__left {
    //       width: 50%;
    //       padding: 131px 20px;

    //       @media (max-width: 800px) {
    //         width: 100%;
    //         padding: 20px;
    //       }
    //       @media (max-width: 800px) {
    //         padding: 20px 10px;
    //       }

    //       &--title {
    //         color: #212833;

    //         font-size: 48px;
    //         font-weight: 500;
    //         line-height: 57.6px; /* 57.6px */

    //         @media (max-width: 920px) {
    //           font-size: 32px;
    //           line-height: normal;
    //           margin-bottom: 35px;
    //         }
    //         @media (max-width: 576px) {
    //           font-size: 20px;
    //           font-style: normal;
    //           font-weight: 600;

    //           line-height: normal;

    //           margin-bottom: 30px;
    //         }
    //       }

    //       &--descr {
    //         color: #7b8a99;
    //         font-size: 20px;
    //         font-weight: 400;
    //         line-height: 120%; /* 24px */

    //         @media (max-width: 576px) {
    //           color: #121212;

    //           font-family: "Lato", sans-serif;
    //           font-size: 16px;
    //           font-style: normal;
    //           font-weight: 400;
    //           line-height: 19px; /* 19.2px */
    //         }
    //       }
    //     }

    //     &__right {
    //       width: 50%;
    //       // height: 100%;
    //       background: #007bff;

    //       display: flex;
    //       justify-content: center;

    //       position: relative;

    //       @media (max-width: 800px) {
    //         width: 100%;
    //         height: 50%;
    //       }
    //       @media (max-width: 576px) {
    //         height: 300px;
    //       }

    //       .tarif__section--card__icon {
    //         width: 100%;
    //         &.microphone {
    //           width: 100%;
    //           // height: 100%;
    //           object-fit: cover;
    //         }
    //         &.calendar {
    //           max-width: 363px !important;
    //           width: 100%;

    //           @media (max-width: 800px) {
    //             width: 50%;
    //           }
    //         }

    //         &.settings {
    //           object-fit: cover;
    //         }
    //       }
    //       .microphone-line {
    //         position: absolute;
    //         top: 0;
    //         z-index: 1;
    //       }
    //     }
    //   }
    // }
  }
}
